body {
  animation: morph 5s infinite;
  background-image: radial-gradient( black, transparent);
  /* background: #800000; */ 
  padding: 20px;
  font-family: Comic Sans Ms;
  text-align: center;
  font-color: gold;
}
@keyframes morph {
  0% {background-color: red;}
  33% {background-color: green;}
  66% {background-color: blue;}
  100% {background-color: red;}
}
.wholePage{  
}
.tabDef {
  vertical-align: center;
  width: 100px;
  height: 100px;
  border-width:2px;
  border-style:solid;
  border-color:black;
  border-radius: 50%;
  background: gray;
  min-width: 100px;
  min-height: 100px;
}
.hoverImg {
  width: 100px;
  height: 100px;
  border-radius: 50%
}
.learningFlex {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-left: 25%;
  margin-right: 25%;
}
.pagePicClass {
  display: flex;
  justify-content: space-around;
  border-radius: 25%;
  max-height: 35%;
}
.pagePicIndv {
  border-radius: 25%;
  max-width: 35%;
}
.pagePicIndv:hover {
  opacity: .5;
}
.gramPic {
  height: 25px;
  width: 25px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
.viewTabArea {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.lowerHalfClass{

}
.homeButton {
  color: black;
  background: gold;
  height: 40px;
  width: 200px;
  border-color: black;
  font-weight: bolder;
  border-radius: 12px;
} 

.homeButton:hover {
  background: black;
  border-color: gold;
  color: gold;
  border-radius: 12px;
}
